<div>
    <a ng-show="showAgain" ng-click="showAgainF()">Re-display the previous form</a><!--הצג שוב את הטופס הקודם-->
    <div ng-hide="table" id="myTable">

        <div class="tab-content">
            <div class="tab-pane fade in active" id="file1">
                <section class="section pic-table" id="pic-table">
                    <br />
                    <div class="col-lg-2">
                        <form>
                            <div class="form-group" ng-show="search">
                                <div class="icon-addon addon-lg">
                                    <input type="text" class="form-control" maxlength="100" placeholder="Search .." id="email" ng-model="SearchQuery">
                                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
                                </div>
                            </div>
                        </form>
                    </div><br />
                    <!--<hr />-->
                    <div>
                        <div class="col-lg-12">
                        </div><br /><br /><br />
                        <div class="container-fluid">
                            <div class="panel panel-default">

                                <div class="panel-body" ng-cloak>
                                    <table cellspacing="0" cellpadding="0" class="scrollTable table table-condensed ">
                                        <!--table-hover-->
                                        <thead class="fixedHeader" position=fixed>
                                            <tr>
                                                <th>Index</th>
                                                <th>DyDis</th>
                                                <th>DyMut</th>
                                                <th>MutID</th>
                                                <!--<th   style="height: 50px;   padding-right: 0px; transform:translate(25px, 51px) rotate(270deg)" ng-repeat-start="item in items6  track by $index" ng-if="item.ListPerson[$index]!=null">
        Genotype {{item.ListPerson[$index].Name}}
    </th>
    <th  style="height:50px;   padding-right:0px; transform:translate(25px, 51px) rotate(270deg);" ng-if="item.ListPerson[$index]!=null">{{item.ListPerson[$index].Name}} allele</th>
    <th  style="height:50px;   padding-right: 0px; transform:translate(25px, 51px) rotate(270deg);" ng-repeat-end ng-if="item.ListPerson[$index]!=null">{{item.ListPerson[$index].Name}} total </th>-->

                                                <th ng-repeat-start="item in items6[0].ListPerson track by $index" ng-if="item!=null">
                                                    Genotype {{item.Name}}
                                                </th>
                                                <th ng-if="item!=null">{{item.Name}} allele</th>
                                                <th ng-repeat-end ng-if="item!=null">{{item.Name}} total </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableForLevel3" class="scrollContent" position=fixed>
                                            <tr ng-repeat="item in items6 | filter:SearchQuery ">
                                                <th class="scrollTd" style="   padding-right: 0px ; height: 1px;">{{$index}}</th>
                                                <th class="scrollTd" style="   padding-right: 0px ; height: 1px;" ng-class="getCSSClass(item.ColorDyName)">{{item.DyDis}}</th>
                                                <th class="scrollTd" style="   padding-right: 0px ; height: 1px;" ng-class="getCSSClass(item.ColorDyName)">{{item.DyMut}}</th>
                                                <th class="scrollTd" style="   padding-right: 0px ; height: 1px;" ng-class="getCSSClass(item.ColorDyName)">{{item.MutID}}</th>
                                                <td class="scrollTd" style="width:1px; height: 1px;" ng-class="getCSSClass(i.Color.Genotype)" ng-repeat-start="i in item.ListPerson " title="{{i.Genotype}} \n Name:{{item.ListPerson[$index].Name}} \n Mutation:{{item.DyDis}}{{item.DyMut}}{{item.MutID}}" data-toggle="tooltip" data-placement="top" tooltip>   </td>
                                                <td class="scrollTd" style="width:1px; height: 1px;" ng-class="getCSSClass(i.Color.AlleleCoverage)" title="{{i.AlleleCoverage}}, Name:{{item.ListPerson[$index].Name}} , Mutation:{{item.DyDis}}{{item.DyMut}}{{item.MutID}}" data-toggle="tooltip" data-placement="top" tooltip>  </td>
                                                <td class="scrollTd" style="width:1px; height: 1px;" ng-class="getCSSClass(i.Color.TotalCoverage)" title="{{i.TotalCoverage}}, Name:{{item.ListPerson[$index].Name}} , Mutation:{{item.DyDis}}{{item.DyMut}}{{item.MutID}}" data-toggle="tooltip" data-placement="top" tooltip ng-repeat-end>    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>